<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Development of shop</title>
	<link href="../../css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:200,300,400|Roboto:200,300,400,500" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
{% block content %}


{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://yastatic.net/bem-components/latest/desktop/bem-components.js"></script>
<script src='../../js/main.js'></script>
<script>//new WOW().init();</script>

</body>
</html>